
<div class = "card bg-dark">
    <div class = "card-body p-2 ">
        <a routerLink = "/participant/homeparticipant" class="btn btn-danger mr-2 fa fw">Home</a>
        <a routerLink = "/participant/add" class="btn btn-danger mr-2 fa fw">Give Feedback To Trainer</a>
        <a routerLink = "/participant/addp" class="btn btn-danger mr-2 fa fw">Give Feedback To Program</a>
        <a routerLink = "/dashboard/home" class="btn btn-info mr-2 fa fw float-right">Logout</a>
</div>
</div>
<router-outlet></router-outlet>