<div class="card">
    <div class="card-body p-2">
        <a routerLink = "/admin/employee/list" class="btn btn-primary mr-2 fa fw">List</a>
        <a routerLink = "/admin/employee/add" class="btn btn-primary mr-2 fa fw">Add Admin</a>
        <a routerLink = "/admin/employee/coordinator" class="btn btn-primary mr-2 fa fw">Add Trainer</a>
        <a routerLink = "/admin/employee/participant" class="btn btn-primary mr-2 fa fw">Add Participant</a>
    </div>
</div>
<router-outlet></router-outlet>
        