<div class = "card bg-dark">
    <div class = "card-body p-2">
        <a routerLink = "/admin/adminhome" class="btn btn-danger mr-2 fa fw">Home</a> 
        <a routerLink = "/admin/employee" class="btn btn-danger mr-2 fa fw">Employee</a>
        <a routerLink="/admin/course" class="btn btn-danger mr-2 fa fw">Courses</a>
        <a routerLink = "/admin/feedback" class="btn btn-danger mr-2 fa fw">View Feedback</a>
        <!-- <a routerLink = "/admin/feedback/feedbackprogram" class="btn btn-danger mr-2 fa fw">View Program Feedback List</a>
        <a routerLink = "/admin/feedback/feedbacktrainer" class="btn btn-danger mr-2 fa fw">View Trainer Feedback List</a> -->
        <a routerLink = "/dashboard/home" class="btn btn-info mr-2 fa fw float-right">Logout</a>
    </div>
</div>
<!-- <section class="container-fluid p-4">
</section> -->
<router-outlet></router-outlet>