<div class = "card bg-dark">
    <div class = "card-body p-2">
        <a routerLink = "/coordinator/coordinatorhome" class="btn btn-danger mr-2 fa fw">Home</a>
        <a routerLink="/coordinator/program" class="btn btn-danger mr-2 fa fw">Programs</a>
        <a routerLink = "/coordinator/feedback" class="btn btn-danger mr-2 fa fw">View Feedback List</a>
        <a routerLink = "/dashboard/home" class="btn btn-info mr-2 fa fw float-right">Logout</a>
    </div>
</div>
<router-outlet></router-outlet>